/* Master CSS file for vIDS */
html, body, .container-table {
    height: 100%;
}

body {
	font-family: Arial;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
div#json_test_dump {
	background-color: black;
	width: 100%;
	color: #FFB000; /* CRT amber monocrome for nostalgia sake :P */
}
/* Landing page */
.landing_header_text {
/*
	height: inherit;
	background: inherit;
	-webkit-background-clip: text;
    background-clip: text;
	color: transparent;
	filter: invert(1) grayscale(1) contrast(9) drop-shadow(.05em .05em orange);
*/
	color: white;
	filter: grayscale(1) contrast(9) drop-shadow(.07em .07em red);
/*	mix-blend-mode: difference; */
}

.landing_menu {
	position: fixed; 
	top: 20px;
	right: 20px;
	z-index: 999;
	font-size:4vh;
}

/* IDS grid display styles */
div#local_ids,#multi_ids,#a80_ids {
	background-color: black;
	width: 100%;
	min-height: 100%;
    height: 100%;
	color: white;
}

table#splits {
	border:0;
	border-spacing: 5px;
    border-collapse: separate;
}

div#header {
	color: white;
	text-align: center;
}

table.departure_split,.departure_split th {
	text-align: center
}

.op_hours {
	color: white;
	font-style: italic;
}

.rem-bor {
	border: none !important;
}

.rem-bor-tp {
	border-top: none !important;
}

.rem-bor-bm {
	border-bottom: none !important;
}

.rem-bor-rt {
	border-right: none !important;
}

.rem-bor-lt {
	border-left: none !important;
}

.newupdate {
	color: red;
}

.ids-header {
	font-size: 4.0vw;
}

.combines select, .combines input[type=text] {
	border-color: white;
	background-color: black;
}

.allblack {
	border: 2px solid black !important;
	background-color: black;
}

.change {
	background-color: #F33939 !important;
}
#acknowledge {
	visibility: hidden;
	-webkit-transition: background 1.0s ease-in-out !important;
    -ms-transition:     background 1.0s ease-in-out !important;
    transition:         background 1.0s ease-in-out !important;
}

#acknowledge.backgroundRed{
	background-color: #F33939 !important;
}

textarea.txt_low {
	width:100%;
	border-color: black;
	background-color: black;
	resize:none;
}

span.cell_header {
	color: gray;
	font-weight: bold;
	font-size: 1.2vw;
	text-decoration: underline;
}

span.cab_status {
	color: gray;
	font-weight: normal;
	font-size: 1em;
	text-decoration: none !important;
}

span.badge-del {
	background-color: rgb(0,123,255);
}

span.badge-gnd {
	background-color: rgb(40,167,69);
}

span.badge-twr {
	background-color: rgb(220,53,69);
}

div.atis_code {
	color: #15ABFF;
	font-size: 7vw;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	border-right: 1px solid white;
	border-left: 1px solid white;
}

div.info_grid, div.text_grid {
	font-size: 1.2vw;
}

div.atis_code_m {
	color: #15ABFF;
	font-size: 6vw;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
}

div.traffic_flow {
	color: #0FFF40;
	font-size: 5vw;
	font-weight: bold;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
}

div.rvr,.wx {
	color: #0FFF40;
}

div.apch_type {
	color: #E9C54B;
}

div.row {
	border: 1px solid white;
}

div.vert_id {
	font-size: 2vw;
	font-weight: bold;
}

div.arrival_info {
	font-size: 1.5vw;
	font-weight: bold;
}
div#buttons {
	position: fixed;
    bottom: 0;
    width: 100%;	
	background-color: black;
}

#buttons a {
	font-size: 0.8vw;
}

.icon-emergency {
	color: red;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.no_border {
	border:0px !important;
}
.ids_title {
	color: white;
	font-size:4vh;
}
.menu_button {
	text-align:center;
}

.scroll_content {
	display: block;
	overflow: hidden;
	height: 40px; /* 20px */
	width: 100%;
	color: white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding:0;
}

div.scroll_content {
	padding-left: 2px;
	padding-right: 0px;
}

.start_marquee p {
	white-space: nowrap;
    width: 100%;
	min-height: 40px; /* 20px */
    height: 100%;
    text-align: center;
	-moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 5s linear infinite;
    animation: scroll-left 5s linear infinite;	
}

p.marquee_container {
    width: 100%;
	min-height: 40px; /* 20px */
    height: 100%;
    margin: 0;
}

.scroll_content span {
	display:inline-block;
	white-space: nowrap;
	margin:auto;
}
        @-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }
        
        @-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }
        
        @keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }
/* Modal styles */

h3.modal-title {
	display: inline;
}

.modal-lg {
	max-width:90% !important;
}

.modal.in .modal-dialog {
  transform: none;
}

span.remTemplate {
	font-weight: bold;
}

div.noclear {
	display: inline;
}

input.controllerDisplay {
	border: 0px;
}

.hideControl {
	display: none;
}

.showControl {
	display: inline;
}
input.is-valid,textarea.is-valid {
	border-color: green;
}

input.is-invalid,textarea.is-invalid {
	border-color: red;
}



div.metar_m {
	font-size: 1vw;
	font-weight: bold;
}

div#WX img,video {
	 max-width:100%; 
	 max-height:100%;
}

/* Loading mask */
div#loading {
	z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	vertical-align: middle;
	color: red;
	padding-top:20%;
}

div#loading div.progress {
	margin: 0 auto;
	width: 50%;
}

div#loading.showLoad {
	display: block;
}

div#loading.hideLoad {
	display: none;
}

/* Authentication error/fail alerts */	
#alerts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 999;
}
#alert {
	margin: 0 auto;
	
}
.alert-visible {
	visibility: visible;
}

/*
.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-caption {
	color: black !important;
}
*/