 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

h3.modal-title {
	display: inline;
}

div.noclear {
	display: inline;
}

input.controllerDisplay {
	border: 0px;
}

.hideControl {
	display: none;
}

.showControl {
	display: inline;
}
	
/*
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
*/
#alerts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 999;
}

#alert {
	margin: 0 auto;
	
}

body {
	font-family: Arial;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden; /* Hide horizontal scrollbar */
}

div#local_ids,#multi_ids,#a80_ids {
	background-color: black;
	width: 100%;
	min-height: 100%;
    height: 100%;
	color: white;
}

div#json_test_dump {
	background-color: black;
	width: 100%;
	color: #FFB000; /* CRT amber monocrome for nostalgia sake :P */
}

.landing_header_text {
	color: white;
	mix-blend-mode: difference;
	//text-shadow: 1px 1px yellow; //#808080
	//text-shadow: 0 0 3px red;
}

table#splits {
	border:0;
	border-spacing: 5px;
    border-collapse: separate;
}

div#header {
	color: white;
	text-align: center;
}

div#row2 {
	//border-bottom: none;
}

table.departure_split,.departure_split th {
	text-align: center
}

.op_hours {
	color: red
}

.rem-bor {
	border: none !important;
}

.rem-bor-tp {
	border-top: none !important;
}

.rem-bor-bm {
	border-bottom: none !important;
}

.rem-bor-rt {
	border-right: none !important;
}

.rem-bor-lt {
	border-left: none !important;
}

.newupdate {
	color: red;
}

.ids-header {
	font-size: 2.5vw;
}

.combines select, .combines input[type=text] {
	border-color: white;
	background-color: black;
}

.allblack {
	border: 2px solid black !important;
	background-color: black;
}

.change {
	background-color: #F33939 !important;
}

input.is-valid,textarea.is-valid {
	border-color: green;
}

input.is-invalid,textarea.is-invalid {
	border-color: red;
}

#acknowledge {
	visibility: hidden;
	-webkit-transition: background 1.0s ease-in-out !important;
    -ms-transition:     background 1.0s ease-in-out !important;
    transition:         background 1.0s ease-in-out !important;
}

#acknowledge.backgroundRed{
	background-color: #F33939 !important;
}

textarea.txt_low {
	width:100%;
	border-color: black;
	background-color: black;
	resize:none;
}

span.cell_header {
	color: gray;
	font-weight: bold;
	font-size: 1em;
	text-decoration: underline;
	//display: block;
}

div.atis_code {
	color: #15ABFF;
	font-size: 5vw;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	border-right: 1px solid white;
	border-left: 1px solid white;
}

div.atis_code_m {
	color: #15ABFF;
	font-size: 5vw;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
}

div.traffic_flow {
	color: #0FFF40;
	font-size: 4vw;
	font-weight: bold;
}

div.rvr,.wx {
	color: #0FFF40;
}

div.apch_type {
	color: #E9C54B;
}

div.row {
	border: 1px solid white;
}

div.vert_id {
	font-size: 2vw;
	font-weight: bold;
}

div.arrival_info {
	font-size: 1.5vw;
	font-weight: bold;
}

div.metar_m {
	font-size: 1vw;
	font-weight: bold;
}

#buttons a {
	font-size: 0.8vw;
}

.icon-emergency {
	color: red;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: black !important;
}

.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-lg {
	max-width:90% !important;
}

.modal.in .modal-dialog {
  transform: none; /*translate(0px, 0px);*/
}

.carousel-caption {
	color: black !important;
}

  .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
	}
	.no_border {
		border:0px !important;
	}
	.ids_title {
		//color:#316FFB;
		color: white;
		font-size:4vh;
		//text-shadow:2px 2px 0 white;
	}
	.menu_button {
		text-align:center;
	}
	
	#landing {
	//display:block
	}
	
.landing_menu {
	position: fixed; 
	top: 20px;
	right: 20px;
	z-index: 999;
	font-size:4vh;
}

.alert-visible {
	visibility: visible;
}

.scroll_content {
	display: block;
	overflow: hidden;
	height: 20px;
	width: 100%;
	color: white;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding:0;
}

div.scroll_content {
	padding-left: 2px;
	padding-right: 0px;
}

.start_marquee p {
	white-space: nowrap;
    width: 100%;
	min-height: 20px;
    height: 100%;
    text-align: center;
	-moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 5s linear infinite;
    animation: scroll-left 5s linear infinite;	
}

p.marquee_container {
    width: 100%;
	min-height: 20px;
    height: 100%;
    margin: 0;
}

.scroll_content span {
	display:inline-block;
	white-space: nowrap;
	margin:auto;
}
        @-moz-keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
            }
        }
        
        @-webkit-keyframes scroll-left {
            0% {
                -webkit-transform: translateX(100%);
            }
            100% {
                -webkit-transform: translateX(-100%);
            }
        }
        
        @keyframes scroll-left {
            0% {
                -moz-transform: translateX(100%);
                -webkit-transform: translateX(100%);
                transform: translateX(100%);
            }
            100% {
                -moz-transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }